* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
/* Start Slider */
.slider-container {
    width: 600px;
    height: 310px;
    margin: 10px auto;
    position: relative;
}
.slider-container .slider-number {
    position: absolute;
    background-color: #e74c3c;
    color: #FFF;
    left: 10px;
    top: 10px;
    padding: 4px 8px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 2;
}
.slider-container img {
    position: absolute;
    opacity: 0;
    transition: opacity 5s;
}
.slider-container img.active {
    opacity: 1;
}
.slider-controls {
    width: 600px;
    margin: auto;
    overflow: hidden;
}
.slider-controls .prev,
.slider-controls .next {
    background-color: #009688;
    color: #FFF;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    width: 20%;
    user-select: none;
}
.slider-controls .prev {
    float: left;
}
.slider-controls .next {
    float: right;
}
.slider-controls .prev.disabled,
.slider-controls .next.disabled {
    background-color: rgba(0, 150, 136, 0.5);
    cursor: no-drop;
}
.slider-controls .indicators {
    width: 60%;
    float: left;
}
.slider-controls .indicators ul {
    list-style: none;
    text-align: center;
    margin: 0;
}
.slider-controls .indicators ul li {
    display: inline-block;
    background-color: #F6F6F6;
    color: #333;
    font-weight: bold;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;
}
.slider-controls .indicators ul li.active {
    background-color: #009688;
    color: #FFF;
}
/* End Slider */
/* Start Memory Game */
.game-container {
    position: relative;
}
.game-container h3 {
    background-color: red;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 3;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.game-container .over-lay:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(79, 75, 75, 0.9);
    color: white;
    z-index: 2;
}
.info-container {
    background-color: #868b8f;
    color: #ecf0f1;
    width: 1080px;
    margin: 20px auto 0;
    padding: 20px;
    border: 3px solid #0f0fcc;
    font-size: 20px;
    overflow: hidden;
}
.info-container .name {
    width: 33.33%;
    float: left;
}
.info-container .countdown {
    width: 33.33%;
    float: left;
    text-align: center;
}
.info-container .tries {
    width: 33.333%;
    float: right;
    text-align: right;
}
.memory {
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
    margin: 20px auto;
}
.memory.no-click {
    pointer-events: none;
}
.memory .games {
    height: 200px;
    flex: 1 0 200px;
    margin: 0px 10px 20px;
    transition: all 1.5s;
    transform-style: preserve-3d;
    position: relative;
}
.memory .games .front {
    background-color: #333;
    line-height: 200px;
}
.memory .games .front:before {
    content: '?';
    font-size: 160px;
    font-weight: 500;
    color: #fff;
}
.memory .games .back {
    background-color: #444;
    transform: rotateY(180deg);
}
.memory .games .back img {
    margin: 25px;
}
.memory .games .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 3px solid #0f0fcc;
}
.memory .games.rotate,
.memory .games.true {
    transform: rotateY(180deg);
}
/* End Memory Game */

























